.AppSummary a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 2.25em;
  font-weight: bold;
}

.subtitle {
  font-size: 0.9em;
  color: hsl(0, 0%, 25%);
}

.body {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.text {
  flex: 5;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.screenshots {
  flex: 2;
  display: flex;
  /* padding: 1.5em 0em; */
  justify-content: center;
  align-items: center;
}

.screenshots img {
  object-fit: contain;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.icon img {
  height: 3.25em;
  border-radius: 0.5em;
}

@media screen and (min-width: 600px) {
  .body {
    flex-direction: row;
  }

  .screenshots img {
    height: 10em;
  }
}