@font-face {
  font-family: BureRoboto;
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: BureRoboto;
  src: url('../public/fonts/Roboto/Roboto-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: BureRoboto;
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: BureRoboto;
  src: url('../public/fonts/Roboto/Roboto-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: BureRoboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 93%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 60vh;
  background-color: hsl(0, 0%, 100%);
  padding: 0.85em 1em;
}

.page-content {
  align-self: stretch;
  width: auto;
}

@media screen and (min-width: 600px) {
  .page {
    padding: 1em 1.5em;
  } 
}

@media screen and (min-width: 1280px) {
  .page-content {
    width: 1280px;
    align-self: center;
  }
}